@font-face {
    font-family: 'Balsamiq Sans';
    src: url('BalsamiqSans-Regular.woff2') format('woff2'),
        url('BalsamiqSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

